.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

#_navbar { display: none }
.h1{
  font-family: 'Dancing Script', cursive;
}
.h2{
  font-family: 'Dancing Script', cursive;
}
details > summary {
    list-style-type: '↓';
}